body{
    margin: 0;
    padding: 0;
}

*{
    font-family:'Roboto', sans-serif;
    box-sizing: border-box;
}

.container{
    width: 100vw;
    height: 100vh;
    background-color: #f0f3f8;
    display: flex ;
    justify-content: center;
    align-items: center;

}
.outline-login{
    width: 60%;
    height: 50%;
    background-color: white;
    border-radius: 16px;
    display: flex;
    flex-direction: row;

}
.left-outline-login{
    width: 50%;
    height: 100%;
    padding: 2% 0 0 2%;
}

.right-outline-login{
    width: 50%;
    height: 100%;

}
 input{
    padding-left: 3%;
    margin: 20% 0 0 0;
    border-radius: 6px;
    width: 90%;
    height: 10%;
    margin-bottom: 5px;
 }
 .note{
    padding:0 7% 0 0;
 }

.email {
    margin: 0;
    color: #0b57cf;
 }  
.word{
    margin: 10% 0 0 0;
}

.word span{
    color:#0b57cf;
    font-weight: bold;

}
.account{
    background-color: rgb(255, 255, 255);
    margin:17% 0 0 0;
    color:#0b57cf;
    border:none;
    font-size: 17px;
    padding: 5px 24px 5px 24px;

}
.account:hover{
    background-color: rgb(173, 173, 170);
    border-radius: 20px;
}
.next{
    font-size: 17px;
    width: 25%;
    height: 90%;
    background-color: #0b57cf;
    color: white;
    border-radius: 20px;
    border:none;
    margin: 0;
    padding: 5px 24px 5px 24px;
    padding:10px;
    font-weight: 500;
}

.button{
    display: flex;
    margin-left: auto;
    align-items: flex-end;
    justify-content: flex-end;
    gap: 12px;
    padding:0 5% 0 0;
}

.language {
    display: flex;
    justify-content: start;
    bottom: 18%;    
    left: 21%;
    gap: 30px;
    color: #262728;
    font-size: 14px;
    position: absolute;
    font-weight:400;
}
.arrow{
    font-size: 20px;
    gap: 20px;
}


.footer {
    display: flex;
    justify-content: center;
    gap: 30px;
    color: #262728;
    font-size: 14px;
    position: absolute;
    bottom: 18%;
    width: 143%;
    font-weight:400;
}